@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,800;1,600&family=Poppins:ital,wght@1,500&family=Roboto&family=Sono:wght@400;500&display=swap');

:root {
  --dark-blue: hsl(209, 23%, 22%); /*(Dark Mode Elements)*/
  --very-dark-blue-dark: hsl(207, 26%, 17%); /* (Dark Mode Background)*/
  --very-Dark-blue-light: hsl(200, 15%, 8%); /* (Light Mode Text)*/
  --dark-gray: hsl(0, 0%, 52%); /* (Light Mode Input)*/
  --very-light-gray: hsl(0, 0%, 98%); /*(Light Mode Background)*/
  --white: hsl(0, 0%, 100%); /*(Dark Mode Text & Light Mode Elements)*/
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
